{% extends "bootstrap/base.html"  %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}川大教务辅助系统{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">川大教务辅助</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">学籍信息</a></li>
                <li><a href="/">一键评教</a></li>
                <li><a href="/">学分绩点</a></li>
                <li><a href="/">辅助选课(请期待)</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="page-header">
        <h1>教务登陆</h1>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8">
        {{ wtf.quick_form(form) }}
    </div>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}

</div>
{% endblock %}